.button2{
    width: 100px !important;
    height: auto !important;
    background-color: rgb(131, 224, 131) !important;
    margin-left: 3% !important;
    text-align: center !important;
    text-justify: auto !important;
    font-size: 15px !important;
    color: #fff !important;

}
.div-row{
    display: flex;
    margin-left: 2%;
    margin-top: 4%;

}
.title1{
    text-align: center;
    font-size: 50px;
    color: #a0e28f;
    text-shadow: black 0px 2px;;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content-1{
    
}